basic data structure
1. list ðŸ‘‘
2. tuple
3. set
4. dictionary ðŸ‘‘

list properties
- ordered (sequence)
- indexed 
- mutable (changeable)
- allow duplicate values
- heterogeneous (different types of data)
- list is denoted by square brackets `[ ]`
- an iterable can be converted to list using `list()` function

what to learn? 
- creating
- indexing/slicing
- modifying
- methods

In [3]:
x = [1,2,3,4,5,6]
names = ['Anshu','Abhishek','Divyanshi','Madhu']
mixeds = ['Potato', 10, 'Tomato', 20, 'Onion', 30]

In [4]:
name = 'Zaid'
list(name)

['Z', 'a', 'i', 'd']

In [5]:
x = [] # blank list

In [6]:
a = [1] # single element list
a*10 # duplicate the list

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [8]:
data = 'Can i take the class @Shikhar_Awasthi'
words = data.split()
print(words)

['Can', 'i', 'take', 'the', 'class', '@Shikhar_Awasthi']

In [12]:
words[0] = 'Would'

In [11]:
words[-1]

'@Shikhar_Awasthi'

In [14]:
words[1] = 'you'
words[2] = 'please'
words[3] = 'take'
words[4] = 'the'
words[5] = 'class'
words

['Would', 'you', 'please', 'take', 'the', 'class']

In [20]:
x = [11,22,33,44,55,66,77,88,99]
print(x[:3]) # first 3 elements
print(x[-3:]) # last 3 elements
print(x[:100]) # first 100 elements if available
print(x[::-1]) # reverse the list

[11, 22, 33]
[77, 88, 99]
[11, 22, 33, 44, 55, 66, 77, 88, 99]
[99, 88, 77, 66, 55, 44, 33, 22, 11]

In [21]:
for name in names:
    print(name)

Anshu
Abhishek
Divyanshi
Madhu

In [22]:
for num in x:
    print(num)

11
22
33
44
55
66
77
88
99

In [23]:
# reverse iteration
for num in x[::-1]:
    print(num)

99
88
77
66
55
44
33
22
11

In [ ]:
# only first 5 elements of the list in the loop
for i in x[:5]:
    print(i)

> dont update the list while iterating over it

list has 11 methods

In [24]:
x

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [25]:
x.append(111)

In [26]:
x

[11, 22, 33, 44, 55, 66, 77, 88, 99, 111]

In [27]:
x.insert(3, 40)
print(x)

[11, 22, 33, 40, 44, 55, 66, 77, 88, 99, 111]

In [28]:
y = [21,31,41,51,61,71,81,91]

In [29]:
x + y # concatenation of lists

[11, 22, 33, 40, 44, 55, 66, 77, 88, 99, 111, 21, 31, 41, 51, 61, 71, 81, 91]

In [30]:
x.extend(y) # extend the list
print(x)
print(y)

[11, 22, 33, 40, 44, 55, 66, 77, 88, 99, 111, 21, 31, 41, 51, 61, 71, 81, 91]
[21, 31, 41, 51, 61, 71, 81, 91]

In [31]:
x.clear()
print(x)

[]

In [34]:
names.remove('Madhu')

In [36]:
names.remove('Anshu')

In [37]:
names

['Abhishek', 'Divyanshi']

In [39]:
words.pop(2)

'please'

In [40]:
words

['Would', 'you', 'take', 'the', 'class']

In [41]:
words.pop(-2)
print(words)

['Would', 'you', 'take', 'class']