In [2]:
import pandas as pd
import numpy as np

In [5]:
# Read in the data
df = pd.read_csv('mobiles.csv')
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    264 non-null    object
 1   price   264 non-null    object
 2   rr      259 non-null    object
dtypes: object(3)
memory usage: 6.3+ KB

,name,price,rr
0,Cellecor E3,"₹1,176",28 Ratings & 1 Reviews
1,"realme C30 (Denim Black, 32 GB)","₹5,749","94,043 Ratings & 4,998 Reviews"
2,"realme C30 (Bamboo Green, 32 GB)","₹5,749","94,043 Ratings & 4,998 Reviews"
3,"realme C30 (Lake Blue, 32 GB)","₹5,749","94,043 Ratings & 4,998 Reviews"
4,"realme C30 (Denim Black, 32 GB)","₹6,749","43,715 Ratings & 2,770 Reviews"
...,...,...,...
259,"MOTOROLA e13 (Creamy White, 64 GB)","₹6,999","1,347 Ratings & 112 Reviews"
260,"MOTOROLA g31 (Baby Blue, 64 GB)","₹9,499","37,045 Ratings & 4,069 Reviews"
261,Nokia 105 ss,"₹1,475","78,804 Ratings & 7,288 Reviews"
262,"REDMI Note 12 Pro 5G (Onyx Black, 128 GB)","₹24,999","13,773 Ratings & 1,389 Reviews"
263,"realme 9 5G SE (Azure Glow, 128 GB)","₹19,999","27,521 Ratings & 2,278 Reviews"

In [6]:
def clean_price_data(price):
    if isinstance(price, str):
        price = price.replace(',','').replace('₹','').strip()
    if price.isnumeric():
        return float(price)

In [22]:
def split_rr_data(rr):
    if isinstance(rr, str):
        rr = rr.split('&')
        return rr[0], rr[1]
    else:
        return np.nan, np.nan

In [23]:
df['cleaned_price']=df['price'].apply(clean_price_data)

In [27]:
df['ratings'], df['reviews'] = zip(*df['rr'].apply(split_rr_data)) # Unpacking the tuple

In [25]:
df

,name,price,rr,cleaned_price,ratings,reviews
0,Cellecor E3,"₹1,176",28 Ratings & 1 Reviews,1176.0,28 Ratings,1 Reviews
1,"realme C30 (Denim Black, 32 GB)","₹5,749","94,043 Ratings & 4,998 Reviews",5749.0,"94,043 Ratings","4,998 Reviews"
2,"realme C30 (Bamboo Green, 32 GB)","₹5,749","94,043 Ratings & 4,998 Reviews",5749.0,"94,043 Ratings","4,998 Reviews"
3,"realme C30 (Lake Blue, 32 GB)","₹5,749","94,043 Ratings & 4,998 Reviews",5749.0,"94,043 Ratings","4,998 Reviews"
4,"realme C30 (Denim Black, 32 GB)","₹6,749","43,715 Ratings & 2,770 Reviews",6749.0,"43,715 Ratings","2,770 Reviews"
...,...,...,...,...,...,...
259,"MOTOROLA e13 (Creamy White, 64 GB)","₹6,999","1,347 Ratings & 112 Reviews",6999.0,"1,347 Ratings",112 Reviews
260,"MOTOROLA g31 (Baby Blue, 64 GB)","₹9,499","37,045 Ratings & 4,069 Reviews",9499.0,"37,045 Ratings","4,069 Reviews"
261,Nokia 105 ss,"₹1,475","78,804 Ratings & 7,288 Reviews",1475.0,"78,804 Ratings","7,288 Reviews"
262,"REDMI Note 12 Pro 5G (Onyx Black, 128 GB)","₹24,999","13,773 Ratings & 1,389 Reviews",24999.0,"13,773 Ratings","1,389 Reviews"
263,"realme 9 5G SE (Azure Glow, 128 GB)","₹19,999","27,521 Ratings & 2,278 Reviews",19999.0,"27,521 Ratings","2,278 Reviews"