In [9]:
name = 'Vijay Deenanath Chauhan'
len(name)

23

In [5]:
msg = '''bahut saari lines
agar likhi h to aap
aese likh sakte h'''
print(msg)

bahut saari lines
agar likhi h to aap
aese likh sakte h

python indexing
- postive indexing
- negative indexing

In [7]:
print(msg[0])
print(msg[-1]) # last character of string
print(msg[7]) # 4 item

b
h
a

In [10]:
print(name[0], name[3], name[4])

V a y

- slicing syntax
`x[ startidx: endidx: step ]`

examples
- `x[5 : 15]` -> 5th to 14th index data
- `x[ : 10]` -> begin from 0th index to 9th index data
- `x[5 : ]` -> 5th index to end of data

In [16]:
name[11:-8]

'nath'

In [17]:
name[:5]

'Vijay'

In [20]:
name[-7:]

'Chauhan'

In [23]:
name= "Xaid Kamil"
fname = name[:4]
lname = name[5:]
print(fname)
print(lname)

Xaid
Kamil

In [25]:
name[1::2] # start se end tak with step 2

'adKml'

In [26]:
name[::-1] # reverse string

'limaK diaX'

In [32]:
x = 'Encyclopedia'

In [36]:
x[2::-2]

'cE'

In [29]:
'$29031023.00 USD'[1:-4]

'29031023.00'

In [30]:
name[::-1][:5][::-1]

'Kamil'

- ### string methods
    - formatting method
        - upper()
        - lower()
        - capitalize()
        - swapcase()
        - casefold()
        - title()
        - center()
        - ljust()
        - rjust()
    - validation method
        - isalnum()
        - isalpha()
        - islower()
        - isupper()
        - isnumeric()
        - istitle()
        - startswith()
        - endswith()
    - search method
        - find()
        - index()
    - utility method
        - replace()
        - split()
        - join()
        - strip()

In [39]:
msg = 'Journey Before Destination'

In [40]:
print(msg.upper())
print(msg.lower())
print(msg.title())
print(msg.capitalize())
print(msg.swapcase())
print(msg.casefold())

JOURNEY BEFORE DESTINATION
journey before destination
Journey Before Destination
Journey before destination
jOURNEY bEFORE dESTINATION
journey before destination

In [2]:
from string import punctuation

In [7]:
def clean_string(content):
    for char in punctuation:
        # print('Removing', char)
        content = content.replace(char, '')
    return content

In [11]:
a = '*)This(@(#!( )@#is ()!@)#*!*$Sparta&%*#*)'
clean_string(a)

'This is Sparta'